<nav class="navbar navbar__colored">
    <div class="navbar__logo-box">
      <a href="index.html">
        <img src="img/Group.svg" alt="Logo" class="navbar__logo" />
      </a>
    </div>

    <button class="navbar__burger-box btn-toggle-open">
        <img
          src="img/Burger Menu.svg"
          alt="Burger Menu"
          class="navbar__burgermenu"
        />
    </button>

    <div class="navbar__list-box">
      <ul>
        <li>
          <a href="cafe/index.html" class="navbar__animatedli">das Café</a>
        </li>
        <li>
          <a href="origin/index.html" class="navbar__animatedli"
            >Herkunft</a
          >
        </li>
        <li>
          <a href="#" class="navbar__animatedli">Shop</a>
        </li>
        <li>
          <a href="contact/index.html" class="navbar__animatedli"
            >Kontakt</a
          >
        </li>
      </ul>
    </div>
  </nav>

  <nav class="mobnavbar mobnavbar-open">     
      <button class="mobnavbar__burgerclose-box btn-toggle-close">
        <img
          src="img/Burger_Menu_close.svg"
          alt="Navbar benden"
          class="mobnavbar__burgerclose-img"
        />
      </button>

      <div class="mobnavbar__list"></div>
        <ul>
          <a
            class="mobnavbar__link heading-tertiary__mobnavbar"
            href="cafe/index.html"
            >das Café</a
          >
          <a
            class="mobnavbar__link heading-tertiary__mobnavbar"
            href="origin/index.html"
            >Herkunft</a
          >
          <a
            class="mobnavbar__link heading-tertiary__mobnavbar"
            href="#"
            >Shop</a
          >
          <a
            class="mobnavbar__link heading-tertiary__mobnavbar"
            href="contact/index.html"
            >Kontakt</a
          >
        </ul>
      </div>
    </nav>