a {
  line-height: 18px;
}

.footer {
  height: 45vh;
  width: 100%;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__text {
    display: flex;
    justify-content: flex-start;
  }

  &__heading {
    padding-right: 17rem;
  }

  &__shop {
    margin-top: 1.5rem;
    padding-right: 18rem;
    &--adress {
      margin-bottom: 3rem;
    }
  }

  &__logo-box {
    height: 7rem;
    width: 7rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  &--logo {
    height: 100%;
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;

    &--home {
      margin-top: 1.5rem;
      padding-right: 25rem;
    }

    &--law {
      margin-top: 1.5rem;
    }
  }
}
