.header {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/FEND-Coffee-latte-art-3.jpg);
  background-position: center;
  background-size: cover;

  @include respond(md) {
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../img/FEND-Coffee-latte-art-3_small.jpg);
    background-position: center;
    background-size: cover;
  }

  &__rectangle1 {
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    &--logo-box {
      top: 1rem;
      left: 10.3rem;
      margin-right: auto;
    }

    &--logo {
      height: 100%;
      width: 100%;
    }

    &--burger-box {
      top: 1rem;
      right: 10.3rem;
      margin-left: auto;
    }

    &--burgermenu {
      height: 100%;
      width: 100%;
    }

    &--navbar {
      padding: 0.8rem 0;
      margin: 0 5%;
      ul {
        margin: 0;
        padding: 0;
        top: 18px;
        display: flex;
        justify-content: flex-end;
        list-style: none;

        li {
          display: inline-block;
          margin: 20px;

          a {
            color: $color-white;
            text-decoration: none;
          }
        }
      }

      @include respond(md) {
        display: none;
      }

      &-animatedli::after {
        display: block;
        content: "";
        margin: 0;
        width: 0;
        height: 1px;
        background: $color-white;
        transition: all 0.4s;
      }

      &-animatedli:hover::after {
        width: 100%;
      }
    }

    &--mobnavbar {
      padding: 0.8rem 0;
      margin: 0 5%;
      ul {
        margin: 0;
        padding: 0;
        top: 18px;
        display: none;
        justify-content: space-between;
        list-style: none;

        @include respond(md) {
          display: flex;
        }

        li {
          display: inline-block;
          margin: 20px;

          a {
            color: $color-white;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__mobnavbar {
    &--list {
      height: auto;
      width: 100%;
      background-color: $color-black;
      left: 100%;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50rem;
      }
    }

    &--burgerclose-box {
      top: 2rem;
      right: 2.65rem;
      height: 1.8rem;
      width: 1.8rem;
      margin-left: auto;
    }

    &--burgerclose-img {
      height: 100%;
      width: 100%;
    }
  }

  &__text-box {
    text-align: center;
    margin: 10rem auto;

    @include respond(md) {
      margin: 12rem auto;
    }
  }
}
