.header {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/FEND-Coffee-latte-art-3.jpg);
  background-position: center;

  //@include respond(sm) {
  //  height: 75vh;
  //}

  &__rectangle1 {
    height: 55px;
    width: 100%;

    &--logo-box {
      top: 1rem;
      left: 10.3rem;
      margin-right: auto;
    }

    &--logo {
      height: 100%;
      width: 100%;
    }

    &--navbar {
      padding: 0.8rem 0;
      margin: 0 5%;
      ul {
        margin: 0;
        padding: 0;
        top: 18px;
        display: flex;
        justify-content: flex-end;
        list-style: none;

        li {
          display: inline;
          margin: 20px;

          a {
            color: $color-white;
          }
        }
      }
    }
  }

  &__text-box {
    text-align: center;
    margin: 5rem 0 7.5%;
  }
}
