.origin-coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__beans {
    padding-bottom: 8.68%;

    &--img {
      width: 100%;
      height: auto;
      padding: 0;
    }
  }

  &__text {
    width: 60%;
    display: block;
    margin: 0 auto;
    padding-bottom: 8.68%;

    @include respond(lg) {
      width: 80%;
      margin: 0 auto;
    }

    @include respond(md) {
      width: 100%;
      margin: 0;
    }
  }
}
