button {
  //
  box-sizing: border-box;
}

.btn-toggle-open,
.btn-toggle-close {
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
}

.btn-dark:link,
.btn-dark:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;

  height: 4.8rem;
  width: 16.3rem;
  border-radius: 5px;
  color: $color-white;
  font-size: 1.4rem;
  text-decoration: none;

  box-shadow: inset 0 0 0 0 $color-anthra;
  transition: ease-out 0.5s;

  &:hover {
    box-shadow: inset 16.3rem 0 0 0 $color-anthra;
    //background-color: $color-anthra;
  }

  &:active {
    box-shadow: inset 16.3rem 0 0 0 $color-craftpaper;
    //background-color: $color-craftpaper;
  }
}

.btn-light:link,
.btn-light:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-anthra;
  border-color: $color-white;
  border: 2px solid;
  height: 4.8rem;
  width: 16.3rem;
  border-radius: 5px;
  color: $color-white;
  font-size: 1.4rem;
  text-decoration: none;

  box-shadow: inset 0 0 0 0 $color-anthra;
  transition: ease-out 0.5s;

  &:hover {
    box-shadow: inset 16.3rem 0 0 0 $color-anthra;
  }

  &:active {
    box-shadow: inset 16.3rem 0 0 0 $color-craftpaper;
  }
}

.btn-text {
  &__company {
    @include respond(lg) {
      display: none;
    }
  }

  &__origin {
    text-align: center;
    color: $color-white;
    text-decoration: none;
  }
}
