.coffee {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 24px;
  margin-bottom: 2.5rem;

  &__costa-rica {
    line-height: 30px;
    margin-right: 15px;

    &--text-box {
      margin-top: 1rem;
      margin-bottom: 5rem;
    }

    &--icon-coffee {
      margin-right: 0.5rem;
    }
  }

  &__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
