.coffee {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  margin-bottom: 2.5rem;

  @include respond(md) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__costa-rica {
    line-height: 30px;
    margin: 1rem;
    width: calc(23% - 1rem);

    @include respond(md) {
      width: calc(40% - 3rem);
    }

    &--img {
      max-width: 100%;
      height: auto;
    }

    &--text-box {
      margin-top: 1rem;
      margin-bottom: 5rem;
    }

    &--icon-coffee {
      margin-right: 0.5rem;
    }
  }

  &__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
