.company-roasting {
  display: flex;
  margin-bottom: 6.5rem;

  &__text {
    flex-direction: column;
    margin-right: 10rem;

    &--content2 {
      display: flex;
      flex-direction: row;

      &-adress {
        margin-right: 15rem;
      }
    }
  }

  &__img {
    margin-left: 1rem;
  }
}

.company-plantation {
  display: flex;
  margin-top: 6.5rem;

  &__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 12rem;
  }

  &__img {
    margin-right: 1rem;
  }
}
