.contact {
  background-color: $color-white;
  padding: 8.68% 6.94% 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  &__heading {
    padding: 10rem 1rem;
    width: 50%;
  }

  &__formular {
    padding: 14rem 10rem 0 0;
    width: 50%;
    left: 0;

    &--input {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-bottom: 3px solid $color-black;
      margin-bottom: 8rem;

      &-field {
        padding-bottom: 100px;
      }
    }
  }
}
