.origin {
  height: 75vh;
  width: auto;

  &__textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }
}

.btn-text {
  &__origin {
    text-align: center;
    height: 100%;
  }
  max-width: 100%;
  height: 30px;
  background-color: blue;
}

a:link,
a:visited {
  color: $color-white;
}
