.heading-secondary {
  &__properties {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
  }
}

.properties {
  display: flex;
  justify-content: space-around;

  @include respond(md) {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  &__attributes {
    &--list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond(md) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      &-element {
        display: flex;
        align-items: flex-start;

        @include respond(md) {
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          align-self: baseline;
          padding: 20px;
        }
      }
    }

    &--logo {
      margin: 0 30px;

      @include respond(md) {
        padding: 20px 0;
      }
    }

    &--text {
      display: flex;
      flex-direction: column;

      @include respond(md) {
        text-align: center;
        padding: 10px;
      }
    }

    &--btn-container {
      @include respond(md) {
        margin: 0 auto;
      }
    }
  }
}

.costa-rica--img {
  width: 100%;
  height: auto;
}
