.heading-secondary {
  &__properties {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
  }
}

.properties {
  display: flex;
  justify-content: space-around;

  @include respond(sm) {
    flex-direction: column;
  }

  & &__attributes {
    &--list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 40%;

      @include respond(sm) {
        flex-direction: row;
        //flex-wrap: wrap;
        //flex: 1 1 0px;
      }

      &-element {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      }
    }

    &--logo {
      margin: 0 30px;
    }

    &--text {
      display: flex;
      flex-direction: column;

      @include respond(sm) {
        text-align: center;
      }
    }

    &--img {
      width: 60%;
    }
  }
}

.costa-rica--img {
  width: 80%;
  height: auto;
  padding-left: 20%;
}
