.heading-secondary {
  &__properties {
    display: flex;
    justify-content: center;
  }
}

.properties {
  display: flex;
  justify-content: center;

  &__attributes {
    &--list {
      display: flex;
      flex-direction: column;
      //justify-content: flex-start;
      //align-items: center;
    }
  }
}
