.section-company {
    background-color: $color-white;
    padding: 12.5rem 10rem;
    margin-top: 0;   
}

.section-coffee {
    background-color: $color-anthra;
    padding: 12.5rem 10rem;
    margin-top: 0;
}

.section-herkunft {
    background-color: beige;
}