.section-company {
  background-color: $color-white;
  padding: 12.5rem 10rem;
  margin-top: 0;
}

.section-coffee {
  background-color: $color-anthra;
  padding: 12.5rem 10rem;
  margin-top: 0;
}

.section-origin {
  height: 50vh;
  //background-image: linear-gradient() url(../img/FEND-Coffee-bags-2.jpg);
  padding: 12.5rem 10rem;
  margin-top: 0;
}

.section-properties {
  background-color: $color-white;
  padding: 2.5rem 10rem;
  margin-top: 0;
}

.section-map {
  background-color: $color-white;
  padding: 2.5rem 10rem;
  margin-top: 0;
}

.footer {
  background-color: $color-black;
  padding: 5rem 10rem;
  margin-top: 0;
}
