.section-origin-coffee {
  background-color: $color-white;
  margin-top: 0;
}

.section-origin-video {
  background-color: $color-white;
  padding: 0 6.94% 8.68%;
  margin-top: 0;
}

.section-origin-produce {
  background-color: $color-white;
  padding: 8.68% 6.94%;
  margin-top: 0;
}
