.section-origin-coffee {
  background-color: $color-white;
  margin-top: 0;
  padding: 8.68% 6.94% 0;
}

.section-video {
  background-color: $color-white;
  margin: 0 6.94%;
}

.section-production {
  background-color: $color-white;
  padding: 8.68% 6.94%;
  margin-top: 0;
}
