// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: 36em) {
      @content;
    }
  } //576px

  @else if $breakpoint == md {
    @media (max-width: 48em) {
      @content;
    }
  } //768px

  @else if $breakpoint == lg {
    @media (max-width: 62em) {
      @content;
    }
  } //992px

  @else if $breakpoint == xl {
    @media (max-width: 75em) {
      @content;
    }
  } //1200px

  @else if $breakpoint == xxl {
    @media (min-width: 120em) {
      @content;
    }
  } //1920px
}

//Default font styles

@mixin roboto-900($size) {
  font-weight: 900;
  font-size: $size + rem;
  line-height: 110%;
  letter-spacing: 0;
  text-decoration: none;
}

@mixin roboto-400($size) {
  font-weight: 400;
  font-size: $size + rem;
  line-height: 130%;
  font-style: normal;
  text-decoration: none;
}
